################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServiceControl/.vs
/ServiceControl/bin/Debug/net8.0
/ServiceControl/obj/Debug/net8.0
/ServiceControl.Domain/bin/Debug/net8.0
*.dll
/ServiceControl.Application/bin/Debug/net8.0/ServiceControl.Application.dll
/ServiceControl.Application/bin/Debug/net8.0/ServiceControl.Domain.dll
